org: dannamendez
service: api-tienda

provider:
  name: aws
  runtime: nodejs18.x
  memorySize: 1024
  timeout: 30
  iam:
    role: arn:aws:iam::385301667309:role/LabRole  # ARN del rol LabRole
  environment:
    PEDIDOS_TABLE: ${sls:stage}-pedidos

functions:
  createOrder:
    handler: create_order.handler
    events:
      - http:
          path: /pedidos/create
          method: post
          cors: true
          integration: lambda

  fetchOrder:
    handler: fetch_order.handler
    events:
      - http:
          path: /pedidos/fetch
          method: get
          cors: true
          integration: lambda

  createUser:
    handler: create_user.handler
    events:
      - http:
          path: /usuarios/create
          method: post
          cors: true
          integration: lambda

  fetchUser:
    handler: fetch_user.handler
    events:
      - http:
          path: /usuarios/fetch
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    PedidosTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.PEDIDOS_TABLE}
        AttributeDefinitions:
          - AttributeName: tenant_id#producto_id
            AttributeType: S
          - AttributeName: pedido_id
            AttributeType: S
          - AttributeName: estado
            AttributeType: S
          - AttributeName: tenant_id#usuario_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id#producto_id
            KeyType: HASH
          - AttributeName: pedido_id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        LocalSecondaryIndexes:
          - IndexName: EstadoIndex
            KeySchema:
              - AttributeName: tenant_id#producto_id
                KeyType: HASH
              - AttributeName: estado
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        GlobalSecondaryIndexes:
          - IndexName: UsuarioEstadoIndex
            KeySchema:
              - AttributeName: tenant_id#usuario_id
                KeyType: HASH
              - AttributeName: estado
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
